[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# Packages in this list should ~=, used to generate requirements.txt

[packages]
kubernetes-asyncio = "*"
kubernetes = "*"

[dev-packages]
pytest-asyncio = "*"
pytest-kind = "*"
black = "*"
ansible-lint = "*"
ansible-builder = "*"
ansible-core = "*"

[requires]
python_version = "3.11"
